@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family:'Baloo Bhaijaan 2';
	font-weight: 400;
	background-image: url(../imgs/fondo1.jpg);
	color: goldenrod;
}

.bg-image{
	background-image: url(../imgs/fondo.jpg)
}


h1{
	@include titulosH1;
	@extend .bg-image;
}

h3{
	font-family: 'Rock Salt';
	@include titulosH4;
}

h4{
	@include titulosH4;
	@extend .bg-image;
	font-weight: map-get($miMap, bold);
}


a{
	font-family:'Baloo Bhaijaan 2';
	font-weight: 400;
}

a{
	color: goldenrod;
}

